In [186]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [187]:
inputs = df.drop('salary_more_then_100k',axis ='columns')

In [188]:
target = df['salary_more_then_100k']

In [189]:
from sklearn.preprocessing import LabelEncoder

In [190]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [191]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [192]:
input_n = inputs.drop(['company','job','degree'], axis = 'columns')
input_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [193]:
from sklearn import tree

In [194]:
model = tree.DecisionTreeClassifier()

In [195]:
model.fit(input_n,target)

DecisionTreeClassifier()

In [196]:
model.predict([[2,2,1]])

c:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

### another example

In [197]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [198]:
df = df[['Survived','Pclass','Sex','Age','Fare']]
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [199]:
from sklearn.preprocessing import LabelEncoder

In [200]:
la_sex = LabelEncoder()
df['Gender']= la_sex.fit_transform(df["Sex"])

In [201]:
df.head()

   Survived  Pclass     Sex   Age     Fare  Gender
0         0       3    male  22.0   7.2500       1
1         1       1  female  38.0  71.2833       0
2         1       3  female  26.0   7.9250       0
3         1       1  female  35.0  53.1000       0
4         0       3    male  35.0   8.0500       1

In [202]:
df.drop('Sex',axis="columns")

     Survived  Pclass   Age     Fare  Gender
0           0       3  22.0   7.2500       1
1           1       1  38.0  71.2833       0
2           1       3  26.0   7.9250       0
3           1       1  35.0  53.1000       0
4           0       3  35.0   8.0500       1
..        ...     ...   ...      ...     ...
886         0       2  27.0  13.0000       1
887         1       1  19.0  30.0000       0
888         0       3   NaN  23.4500       0
889         1       1  26.0  30.0000       1
890         0       3  32.0   7.7500       1

[891 rows x 5 columns]

In [203]:
df = df.dropna(axis='index')

In [204]:
x = df[['Pclass','Age','Fare','Gender']]
y = df['Survived']

In [205]:
x.head()

   Pclass   Age     Fare  Gender
0       3  22.0   7.2500       1
1       1  38.0  71.2833       0
2       3  26.0   7.9250       0
3       1  35.0  53.1000       0
4       3  35.0   8.0500       1

In [206]:
x["Age"].isna().sum()

0

In [207]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [208]:
x_train, x_test, y_train, y_test =train_test_split(x,y,test_size=.2)

In [209]:
x_train.shape

(571, 4)

In [210]:
x_test.shape

(143, 4)

In [211]:
model = tree.DecisionTreeClassifier()

In [212]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [213]:
model.score(x_test,y_test)

0.8461538461538461